<!DOCTYPE html>
<html lang="en">
<head>
<!--Alberto Velez
    midterm project -->
 <link rel="stylesheet" type="text/css" href="form.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="form.js" type="text/javascript">></script>
<link href='https://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

<title>Contact Us</title>
</head>
<body>
<body>
   <div class="drop">
<div class="burg">

</div>
  </div>
  <div class= "row1">


<div class="col9">

  <div class='cssmenu'>

<ul>
<li><a href='http://localhost:3000'><span>Home</span></a></li>
<li ><a href='http://localhost:3000/menu'><span>Menu</span></a></li>
<li><a href='http://localhost:3000/gallery'><span>Gallery</span></a></li>

</ul>
</div>

</div>
</div>


<div class="row2">
<div class="sub"

  <p>Subscribe to receive emails regarding special events</p>
  <form name="subscribe" action="http://localhost:3000/email" class="subscribe" method="POST" onsubmit="return checkForm()">

 <div class="text"> First Name: </div><input type="text" name="first" required>  <br>

 <div class="text">  Last Name: </div><input type="text" name="last" required><br>

  <div class="text"> Email:</div><input type="text" name="email" required> <br>

    <input type="submit" value="Submit">
  </form>
  
<form name="unsubscribe" class="unsubscribe" action="http://localhost:3000/unsubscribe" method="POST" onsubmit="return checkForm()">
  Email:<input type="text" name="email" required> <input type="submit" value="Unsubscribe">
</form>
<div class="unsub"> Unsubscribe</div>
<div class="contact">
<p> If you need to contact us please call at 347-553-2309.<p>
  <p> Feel free to email us at <a href="mailto:nkkvlz@gmail.com">helpdesk@munchies.com</a></p>
</div>
</div>


</div>
</body>
</html>
