<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" type="text/css" href="form.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="form.js" type="text/javascript">></script>
<link href='https://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

<title>Project 1</title>
</head>
<body>
<body>
  <div class="drop">
<div class="burg">

</div>
  </div>
  <div class= "row1">


<div class="col9">

  <div class='cssmenu'>

<ul>

<li ><a href='http://localhost:3000/menu'><span>Menu</span></a></li>
<li><a href='http://localhost:3000/gallery'><span>Gallery</span></a></li>
<li><a href='http://localhost:3000/form'><span>Contact Us</span></a></li>
</ul>
</div>

</div>
</div>


<div class="row2">

  <p>Subscribe to recive emails regarding special events</p>
  <form action="http://localhost:3000/email" method="POST">

 <div class="text"> First Name: </div><input type="text" name="first">  <br>

 <div class="text">  Last Name: </div><input type="text" name="last"><br>

  <div class="text"> Email:</div><input type="text" name="email"> <br>

    <input type="submit" value="Submit">
  </form>

<div class="contact">
<p> If you need to contact us please call at 347-553-2309.<p>
  <p> Feel free to email us at <a href="mailto:nkkvlz@gmail.com">Munchies email</a></p>

</div>
</div>


</body>
</html>
