<!DOCTYPE html>
<html lang="en">

<head>

 <link rel="stylesheet" type="text/css" href="index/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="index/index.js" type="text/javascript">></script>
<link href='https://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

<title>Munchies</title>
</head>
<body>
  <div class="drop">
<div class="burg">

</div>
  </div>
  <div class= "row1">


<div class="col9">

  <div class='cssmenu'>

<ul>

<li ><a href='http://localhost:3000/menu'><span>Menu</span></a></li>
<li><a href='http://localhost:3000/gallery'><span>Gallery</span></a></li>
<li class='last'><a href='http://localhost:3000/email'><span>Contact Us</span></a></li>
</ul>
</div>

</div>
</div>

<div class="row2">

    <div class="text-box">
      <p>Munchies  </p>

  </div>
</div>

<div class="row3">
  <div class="col6">
    <div class="motto">
<b>"</b> We make an extra effort to partner with farmers, ranchers, and other suppliers whose practices emphasize quality and responsibility. Just genuine raw ingredients and their individual, delectable flavors.<b>"</b>
      </div>
  </div>
  <div class="col6">

    <div class="hours">
    <ul>
      <li> <h2> Hours</h2> </li>
      <li> Monday-Thursday : 12pm-12am</li>
      <li>Friday-Saturday : 12pm-1am</li>
      <li>Sunday : 12pm-11pm</li>
    </ul>

  </div>
</div>
</div>







</body>

</html>
