<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="menu.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="menu.js" type="text/javascript">></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Munchies Menu</title>
</head>
<div class="drop">
<div class="burg">

</div>
</div>
  <div class= "row1">


<div class="col9">
  <div class='cssmenu'>

<ul>

<li ><a href="http://localhost:3000">Home</a></li>
<li><a href='http://localhost:3000/gallery'>Gallery</a></li>
<li><a href='http://localhost:3000/form'><span>Contact Us</span></a></li>
</ul>
</div>


</div>
</div>
<div class="row2">

<div class="menus">

<div class="menusized">
<ul>
<li class="b"> Burgers </li>
<li class="sa"> Salad </li>
<li class="sh"> Shakes</li>
<li class="si">Sides</li>
<li class="san"> Sandwich</li>
<li class="sn"> Snacks</li>
</ul>
</div>

</div>
</div>
<div class="row3">


  <div class="burgers">

  <h1>Burgers</h1>
  <hr>
  <dl>
  <dt>Original</dt><dd>Colby Jack, green leaf lettuce, tomatoes, raw red onions and Bareburger special sauce. 390-1110 (recommended with beef)</dd>


  <dt>California</dt><dd>Sharp cheddar, Hass avocado, green leaf lettuce, tomatoes, raw red onions and salsa verde. 470-1190 (Recommended with farmer's veggie burger). </dd>

  <dt>Roadhouse</dt><dd> Pepper jack, country bacon, Hass avocado, red piquante peppers, sweet apple grilled onions and smoked paprika mayo. 650-1370 (recommended with bison) </dd>


  <dt>Maui Wowie</dt><dd>Smoked mozzarella, turkey bacon, grilled pineapple, fried onions, red piquante peppers and buttermilk ranch. 790-1510 (recommended with wild boar) </dd>

  <dt>Country Bacon</dt><dd>Sharp cheddar, country bacon, green leaf lettuce, tomatoes, raw red onions and mayo. 570-1290 (recommended with bison) </dd>

  <dt>Big Blue </dt><dd>Wisconsin Amish blue crumbles, country bacon, sauteed mushrooms, fried onions, smokehouse sauce and bacon marmalade. 280-1000 (recommended with ostrich) </dd>

  <dt>Mediterranean</dt><dd> Green leaf lettuce, cucumbers, raw red onions,red piquante peppers and cucumber mint yogurt. 280-1000 (recommended with lamb)</dd>

  <dt>Habanero Express</dt><dd>Pepper Jack, green leaf lettuce, tomatoes, poblano pepper relish, raw red onions, spicy pickle chips and habanero chipotle mayo. 460-1180 (recommended with elk) </dd>

  <dt>Western</dt><dd> Smoked mozzarella, country bacon, homemade red slaw, cornmeal crusted spicy pickle spears and smokehouse sauce. 640-1360 (recommended with bison)</dd>

  <dt>Supreme</dt><dd>Colby Jack, country bacon, chopped fries, green leaf lettuce, Bareburger onion rings and Bareburger special sauce. 760-1480 (recommended with beef) </dd>
  </dl>
  </div>

  <div class="salads">
  <h1>Salads</h1>
  <hr>
  <dl>
    <dt>Bare Farmer's</dt>  <dd> Bare greens (seasonal baby greens), portabella mushroom, baby radishes, cucumbers, raw red onions, baby carrots, grape tomatoes, and tossed in herb vinaigrette. Served with a side of bread. (200-400 calories) </dd>

    <dt>Mexican Salad</dt>  <dd> Bare greens (seasonal baby greens), Hass avocado, pepper Jack, baby radishes, raw red onions, red piquante peppers, grape tomatoes, and red pepper chips tossed in cilantro lime dressing. Served with a side of bread. (460-890 calories) </dd>

    <dt> Bibb head Salad</dt>  <dd> Bibb head, Wisconsin Amish blue crumbles, Bareburger onion rings, grape tomatoes, Applewood smoked thick-cut bacon and buttermilk ranch dressing. Served with a side of bread. </dd>

    <dt>Panko Crusted Goat Cheese and Beets</dt>  <dd>Bare greens (seasonal baby greens), pickled beets, panko crusted fried goat cheese, toasted crushed walnuts, and pickled red grapes tossed in champagne and shallot vinaigrette. Served with a side of bread. (670-1330 calories)  </dd>

</dl>
</div>

  <div class="sandwich ">
  <h1>Sandwich</h1>
<hr>
  <dl>
  <dt>Fried Chicken</dt>  <dd>Buttermilk fried chicken, dill pickle chips, green leaf lettuce, herb vinaigrette and mayo on a brioche bun.</dd>

  <dt>Buffalo Chicken</dt>  <dd>Buttermilk fried chicken, green leaf lettuce, Buffalo sauce and buttermilk ranch on a brioche bun.</dd>

  <dt>Pepperjack Brisket</dt>  <dd>Hardwood smoked brisket, pepper Jack, pickled green tomatoes, homemade red slaw, whole grain maple horseradish mustard, and ciabatta panini.</dd>

  <dt>Italian Red Pesto Chicken</dt>  <dd>Grilled chicken, smoked mozzarella, baby spinach, sun-dried yellow tomatoes and red pepper pesto on a ciabatta panini.</dd>


  <dt>Hass Avocado Bacon Chicken</dt>  <dd>Gluten free jerk chicken, Hass avocado, country bacon, raw red onions and smoked paprika mayo on a ciabatta panini.</dd>
</dl>
  </div>

  </div>
  <div class="sides">
  <h1>Sides</h1>
  <hr>

  <div>  Side</div> <p>2.65</p>

   <div>  Sweet Potato Fries</div>  <p>3.75</p>

   <div> Sweet Potato Fries & Rings Combo </div> <p>5.75</p>

   <div>Homemade Red Slaw </div> <p>2.65</p>

   <div> Spicy Pickle Chips </div> <p>2.55</p>

   <div> Onion Rings </div> <p>4.25</p>

   <div>Fresh Cut French Fries & Rings Combo  </div> <p>4.75</p>

   <div>Garlic Dill Pickle Chips  </div> <p>2.55</p>

</div>

 <div class="shakes">
  <h1>Shakes</h1>
  <hr>
   <dl>
   <dt>Milkshake  </dt> <dd>Organic ice cream, organic milk organic fruits. (720-1680 calories)</dd>

   <dt>Banana Milkshake</dt> <dd>Vanilla ice cream, bananas caramel sauce. (890-1120 calories)</dd>

   <dt>Spicy Honey Milkshake</dt> <dd>Vanilla ice cream, hot honey. (750-950 calories)</dd>

   <dt>Root Beer Float</dt> <dd>Vanilla ice cream, chocolate sauce root beer.</dd>

   <dt>  </dt> <dd></dd>
</div>


<div class="snacks">
<h1>Snacks</h1>
<hr>
<dl>
   <dt>Gourmet Breaded Onion Rings  </dt> <dd>Special sauce, curry ketchup, smokehouse sauce.</dd>

    <dt>Fries & Onion Rings Combo  </dt> <dd>Special sauce, curry ketchup, smokehouse sauce smoked paprika mayo.</dd>

	<dt>Onion Rings & Harvest Sweet Potato Fries Combo  </dt> <dd>Special sauce, curry ketchup, smokehouse sauce.</dd>

   <dt> Basket of Fresh Cut French Fries</dt> <dd>Special sauce, curry ketchup, habanero chipotle mayo.</dd>

   <dt> Harvest Sweet Potato Fries </dt> <dd>Special sauce, curry ketchup, ranch.</dd>



   </dl>

  </div>






</body>

</html>
